@{
    ViewBag.Title = "GIG19";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/images/logo_transparent.png" width="400px" />
        </div>
        <div class="col-md-6">
            <h1>Great Ideas Gathering</h1>
            <p class="pull-right">Tricentis' internal innovation contest</p>
            <div class="vertical-space-lg"></div>
            <p class="pull-right"><a href="/projects/" class="btn btn-primary btn-large">View projects &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Review Projects</h2>
        <p>
            Show all current projects - all teams provide a 2-minute elevator pitch video.
        </p>
        <p><a class="btn btn-default" href="/projects/">View projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show archive</h2>
        <p>Review videos from past GIGs. The video archive goes back to 2017.</p>
        <p><a class="btn btn-default" href="/archive/">Archive &raquo;</a></p>
    </div>
</div>
<hr />
<div class="container">
    <h2 class="text-center">A day at the GIG</h2>
    <div class="vertical-space-sm"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/aMXuAqPO7IQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/F6RN0liLKJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>