@{
    ViewBag.Title = "GIG18";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/images/logo_transparent.png" width="300px" />
        </div>
        <div class="col-md-6">
            <h1>Great Ideas Gathering</h1>
            <p class="pull-right">Tricentis' internal innovation contest</p>
            <div class="vertical-space-lg"></div>
            <p class="pull-right"><a href="/projects/" class="btn btn-primary btn-large">View projects &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Review Projects</h2>
        <p>
            Show all current projects - all teams provide a 2-minute elevator pitch video.
        </p>
        <p><a class="btn btn-default" href="/projects/">View projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vote on Videos</h2>
        <p>Allows to vote on videos. Every Tricentix gets to vote on the GIG videos. </p>
        <p><a class="btn btn-default" href="/projects/">View projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show archive</h2>
        <p>Review videos from past GIGs. The video archive goes back to 2017.</p>
        <p><a class="btn btn-default" href="/archive/">Archive &raquo;</a></p>
    </div>
</div>