
@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!User.Identity.IsAuthenticated)
{
    <h2>Unauthorized!</h2>
    <p>Please sign in first!</p>
}
else
{

    <h2>Haha</h2>
    <p>Ain't nobody got time for that.</p>

}

