@model IEnumerable<GIG.Models.Video>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string gig = (string)ViewData["gig"];
}


<div class="vertical-space-md"></div>
<div class="row">

    @{foreach (var video in Model) {

            var thumbnail = String.Format("../Content/{0}/stills/{1}", gig, video.ThumbnailFile);
            var abstractText = "Text Missing";

            try {
                using (StreamReader sr = new StreamReader(
                    Server.MapPath(String.Format("~/Content/{0}/abstracts/{1}", gig, video.AbstractFile)))) {

                    abstractText = sr.ReadToEnd();

                    if (abstractText.Length > 140) {
                        abstractText = abstractText.Substring(0, 137) + "...";
                    }
                }
            } catch (Exception e) {
                // I am lazy
            }

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="@thumbnail" alt="">
                    <div class="overlay">
                        <p>@abstractText</p>
                        <a class="info" href="@video.Videolink" target="_blank" title="Watch Video on Egnyte"><i class="glyphicon glyphicon-play"></i> Video</a>
                        <a class="info" href="#" title="Upvote Video">Vote <span class="badge">4</span></a>
                    </div>
                </div>
            </div>


        }
    }

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var url = '/projects/Vote';

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: param = "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }
    });
</script>
