
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vertical-space-md"></div>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="https://miketricking.github.io/bootstrap-image-hover/images/girl.jpg" alt="">
            <div class="overlay">
                <p>I need to come up with a description that is exactely 140 characters long which will be the overall limit allowed for the abstracts during GIG.</p>
                <a class="info" href="#">watch video</a>
            </div>
        </div>
    </div>
</div>

